header.header
    .container
        .header__logo
            img(src="img/logo.png")

        p.header__logo-descr
            | Сеть турагенств «Солнце в кругу»

        span.header__number
            | 044 123-45-67

        p.header__callback
            | обратный звонок


